$common-border-radius: 10px;

.message-area {
    background: #F8F8F8;
    // background-color: white;
    width: 900px;
    height: 350px;
    border-radius: $common-border-radius;
}

.message-area__panel {
    background: #464646;
    height: 60px;
    width: 100%;
    padding: 1rem;
    border-radius: $common-border-radius $common-border-radius 0 0;   

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-area__panel__buttons {
    color: white;
    font-size: 24px;
    display: flex;
    gap: 2rem;
    align-items: stretch;
}

.message-area__panel__spans__button {
    &:hover {
        // background-color: black;
        transform: scale(1.1);
    }
}

.message-area__panel__send {
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    background: #504EB1;
    width: 125px;
    height: 40px;
    line-height: 40px;

    border-radius: $common-border-radius;
    vertical-align: middle;
    text-align: center;
}

.message-area__body {
    height: calc(100% - 60px);
    width: 100%;
    padding: 1rem;
    overflow: auto;
}

.message-area__body__field {
    width: 100%;
    margin: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06);
}